@font-face {
  font-family: 'Daehwa Nanumeui Sori';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Light.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Daehwa Nanumeui Sori';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Regular.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Daehwa Nanumeui Sori';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Bold.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/DaehwaNanumeuiSori/DaehwaNanumeuiSori-Bold.ttf') format('truetype');
}